%head
  %meta{:charset => "utf-8"}
  %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
  %title Form5 Haml Boilerplate

  %meta{:content => "", :name => "description"}
  %meta{:content => "", :name => "keywords"}
  %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}

  %link{:href => "assets/stylesheets/main.css", :rel => "stylesheet"}